Assignments/HW2/src/annotated_img_new.png
Assignments/HW2/src/annotated_two_objects.png
Assignments/HW2/src/testing1c2_two_objects.png
Assignments/HW2/src/binary_coins.png
Assignments/HW2/src/labeled_many_objects_1.png
Assignments/HW2/src/labeled_many_objects_2.png
Assignments/HW2/src/labeled_two_objects.png
Assignments/HW2/src/morphological_operations_coins.png
Assignments/HW2/src/noise_removal_coins.png
Assignments/HW2/src/obj_db.mat
Assignments/HW2/src/rgb_labeled_many_objects_1.png
Assignments/HW2/src/rgb_labeled_many_objects_2.png
Assignments/HW2/src/rgb_labeled_two_objects.png
Assignments/HW2/src/testing1c1_many_objects_1.png
Assignments/HW2/src/testing1c1_many_objects_2.png
Assignments/HW2/src/testing1c2_many_objects_1.png
Assignments/HW2/src/testing1c2_many_objects_2.png
